.circle_best_friend {
	border-radius: 50%;
	width: 100px;
	height: 100px; 
	font-size:15px;
	border-color:green;
	border-style:solid;
	border-width:3px;
	line-height:100px;
	text-align:center;
}
.circle_friends {
	border-radius: 50%;
	width: 100px;
	height: 100px; 
	font-size:15px;
	border-color:green;
	border-style:dashed;
	border-width:2px;
	line-height:100px;
	text-align:center;
}
.circle_family {
	border-radius: 50%;
	width: 100px;
	height: 100px; 
	font-size:15px;
	border-color:blue;
	border-style:dashed;
	border-width:2px;
	line-height:100px;
	text-align:center;
}